@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a asp-controller="Business" asp-action="Index" 
               class="list-group-item">Manage Business Types</a>
            <a asp-controller="Partner" asp-action="Index"
               class="list-group-item">Manage Partners</a>
            <a asp-controller="Category" asp-action="Index" 
               class="list-group-item">Manage Categories</a>
            <a asp-action="Index" asp-controller="User" asp-area="Admin" class="text-primary">
                Manage Users
            </a>
        </div>
    </div>
</div>